<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/62ef345795.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/layout1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <%- style %>
</head>
<body> 
   <div id="sidebar-nav">
      <span id="logo">
         <img src="/images/logo.png" id = 'heading-icon'>
      </span>
  
      <nav>
        <span id='home-nav'><a href="/user/home"><i class="fa-solid fa-house" ></i></a></span>
        <span id = 'profile-nav'><a href="/user/profile"><i class="fa-solid fa-user"></i></a></span>
        <span id='friends-nav'><a href="/user/friends"><i class="fa-solid fa-user-group"></i></a></span>
      </nav>
  
      <span><a href="/user/sign-out" id = 'logout'><i class="fa-solid fa-arrow-right-from-bracket" ></i></a></span>

   </div> 
    
    <script src="/js/layout1.js"></script>

    <%- body %>

    <%- script %>
</body>
<!-- <script>
    const header = document.querySelector('header');
    
    const nav = document.querySelector('nav');
    const logout = document.querySelector('#logout').parentNode;
    
    const dropbox_box = document.createElement('div');
    dropbox_box.setAttribute('id','dropbox-box');
    dropbox_box.innerHTML = `
        <div id='dropbox'>
            <button id = 'dropbox-button'>
              <img src='/images/menu.png'>
            </button>

            <div id = 'dropbox-content'>
              <span><a href="/user/home"><i class="fa-solid fa-house"></i>Home</a></span>
              <span><a href="/user/profile"><i class="fa-solid fa-user"></i>Profile</a></span>
              <span><a href="/user/friends"><i class="fa-solid fa-user-group"></i>Friends</a></span>
              <span><a href="/user/sign-out" id = 'logout'><i class="fa-solid fa-arrow-right-from-bracket" ></i>Log Out</a></span>
            </div>
        </div>
    `;
    
         if(window.innerWidth <= 380)
         {
            console.log('very small');
            document.querySelector('header h1').style.fontSize = '1.5rem';
         }
         else{
            document.querySelector('header h1').style.fontSize = '2.1rem';
         }

          if(window.innerWidth <= 540&&(document.querySelector('#dropbox-box') == null))
          {
              console.log('add drop box')
              header.appendChild(dropbox_box);
              header.removeChild(nav);
              header.removeChild(logout);
          }
          else if(window.innerWidth > 540&&(document.querySelector('#dropbox-box') != null))
          {
            console.log('remove drop box');
            header.removeChild(dropbox_box);
            header.appendChild(nav);
            header.appendChild(logout);
          }
    window.addEventListener('resize',() => {
          
        if(window.innerWidth <= 380)
        {
            console.log('small');
            document.querySelector('header h1').style.fontSize = '0.9rem';
        }
        else{
            document.querySelector('header h1').style.fontSize = '2.1rem'
        }

        if(window.innerWidth <= 540&&(document.querySelector('#dropbox-box') == null))
          {
              console.log('add drop box')
              header.appendChild(dropbox_box);
              header.removeChild(nav);
              header.removeChild(logout);
          }
          else if(window.innerWidth > 540&&(document.querySelector('#dropbox-box') != null))
          {
            console.log('remove drop box');
            header.removeChild(dropbox_box);
            header.appendChild(nav);
            header.appendChild(logout);
          }
          

    });
    const dropbox_content = dropbox_box.querySelector('#dropbox-content');
    const dropbox_button = dropbox_box.querySelector('#dropbox-button');
    dropbox_button.addEventListener('click',() => {
        console.log('button clcicked');
        dropbox_content.classList.toggle('dropbox-content-flex');
    });
</script> -->
</html>