

body{
    padding: 0;
    margin: 0;
    height:100vh;
    overflow-y: hidden;
    background-color: rgb(241, 239, 241);
    display: grid;
    grid-template-columns: 51px 1fr;
    #sidebar-nav{
         width:51px;
         height:100vh;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         background-color:#444044;

         #logo{
            margin-top: 12px;
            height:fit-content;
            width:fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height:51px;
                width: 51px;
            }
         }
         nav{
            width: 100%;
            height: 180;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size:1.5rem;
            color:white;
            span{
                box-sizing: border-box;
                height:100%;
                width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding:12px 0px 12px 0px;
            }
            span a{
                color:rgb(131, 130, 131);
                text-decoration: none;
            }
            
            span:hover{
                a{
                  color:#ffffff;
                }
                border:0px;
            }
        }
        #logout{
            color:white;
            height:fit-content;
            width:fit-content;
            font-size: 1.5rem;
            margin-bottom:12px !important;
        }
        #logout:hover{
            color:#f791ef;
        }
    }
}
        
       
.nav-highlight{
    a{
        color:#ffffff !important;
    }
    border:0px;
    border-left: 4px solid #ffffff;
}
.nav-highlight:hover{
    border-left: 4px solid #ffffff !important;
}
