@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Mouse+Memoirs&display=swap");
main {
  display: grid;
  gap: 6px;
  grid-template-rows: 72px 45px 1fr;
}

main h1 {
  padding-left: 72px;
  color: grey;
}

main #section-nav {
  height: 100%;
  display: flex;
  justify-content: center;
}

main #section-nav div {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #c8c7c7;
  color: white;
}

main #section-nav #section1 {
  border: 0px solid;
  padding: 6px;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 12px;
}

main #section-nav #section2 {
  border: 0px solid;
  padding: 6px;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 21px;
}

main #section-nav div :hover {
  color: #fd03e4;
}

main #main-container {
  width: 100%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #main-container #main-container1 {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 21px 0px 21px 0px;
  overflow-y: scroll;
}

main #main-container #main-container1 #heading {
  margin: 0;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0px solid;
  border-radius: 0.5rem;
  background-color: #ffffff;
  margin: 21px;
  box-shadow: #e4e3e4 0px 1px 3px 0px, #d5d4d5 0px 0px 0px 1px;
}

main #main-container #main-container1 #profile-pic-container {
  width: 360px;
  height: fit-content;
  padding: 30px;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 12px;
  box-shadow: #e4e3e4 0px 1px 3px 0px, #d5d4d5 0px 0px 0px 1px;
}

main #main-container #main-container1 #profile-pic-container #profile-pic {
  height: 72px;
  width: 72px;
  border: 1px solid;
  border-radius: 50%;
}

main #main-container #main-container1 #profile-pic-container input {
  background-color: transparent !important;
  border: none !important;
  font-size: 1rem;
  text-align: center;
}

main #main-container #main-container1 #other-details {
  width: 420px;
  height: fit-content;
  display: grid;
  justify-items: center;
  gap: 3px;
  padding-top: 21px;
  padding-bottom: 21px;
}

main #main-container #main-container1 #other-details > div {
  box-shadow: #e4e3e4 0px 1px 3px 0px, #d5d4d5 0px 0px 0px 1px;
  height: 45px;
  width: 360px;
  border: 0px solid;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px !important;
  background-image: none !important;
}

main #main-container #main-container1 #other-details > div .name {
  font-size: 0.81rem;
  color: #696868;
}

main #main-container #main-container1 #other-details > div form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main #main-container #main-container1 #other-details > div form input {
  background-color: transparent;
  border: none !important;
  font-size: 1rem;
}
