body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  background-color: #f1eff1;
  display: grid;
  grid-template-columns: 51px 1fr;
}

body #sidebar-nav {
  width: 51px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #444044;
}

body #sidebar-nav #logo {
  margin-top: 12px;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

body #sidebar-nav #logo img {
  height: 51px;
  width: 51px;
}

body #sidebar-nav nav {
  width: 100%;
  height: 180;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

body #sidebar-nav nav span {
  box-sizing: border-box;
  height: 100%;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 0px 12px 0px;
}

body #sidebar-nav nav span a {
  color: #838283;
  text-decoration: none;
}

body #sidebar-nav nav span:hover {
  border: 0px;
}

body #sidebar-nav nav span:hover a {
  color: #ffffff;
}

body #sidebar-nav #logout {
  color: white;
  height: fit-content;
  width: fit-content;
  font-size: 1.5rem;
  margin-bottom: 12px !important;
}

body #sidebar-nav #logout:hover {
  color: #f791ef;
}

.nav-highlight {
  border: 0px;
  border-left: 4px solid #ffffff;
}

.nav-highlight a {
  color: #ffffff !important;
}

.nav-highlight:hover {
  border-left: 4px solid #ffffff !important;
}
