main {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 60px 1fr;
  justify-items: center;
}

h1 {
  color: grey;
  font-size: 1.5rem;
  padding-left: 72px;
  margin-bottom: 0px;
}

#main-container {
  width: 100%;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 21px 0px 21px 0px;
  overflow-y: scroll;
}

#main-container #profile-pic-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 360px;
  height: fit-content;
  padding: 30px;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  border-radius: 0.5rem;
  background-color: #fffeff;
  padding: 12px;
}

#main-container #profile-pic-container #profile-pic {
  height: 72px;
  width: 72px;
  border: 1px solid;
  border-radius: 50%;
}

#main-container #profile-pic-container #profile-pic-edit {
  border: 0px solid;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 60px;
}

#main-container #profile-pic-container .input-container {
  height: 81%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-container #profile-pic-container .input-container input {
  background-color: transparent;
  border: none !important;
  font-size: 1rem;
  text-align: center;
}

#main-container #other-details {
  width: 420px;
  height: fit-content;
  display: grid;
  justify-items: center;
  gap: 3px;
  padding-top: 21px;
  padding-bottom: 21px;
}

#main-container #other-details > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 45px;
  width: 360px;
  border: 0px solid;
  border-radius: 0.5rem;
  background-color: #fffeff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px !important;
}

#main-container #other-details > div .name {
  font-size: 0.81rem;
  color: #696868;
}

#main-container #other-details > div .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-container #other-details > div .input-container input {
  background-color: transparent;
  border: none !important;
  font-size: 1rem;
}

#main-container #update {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 6px 18px 6px 18px;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  display: none;
}

.edit {
  background-color: grey;
  color: white;
  border: 0px solid;
  padding: 3px;
  border-radius: 0.3rem;
}

#upload-profile-pic {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #fac0ff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 0px solid;
  border-radius: 1rem;
}

#upload-profile-pic #close-popup {
  position: absolute;
  right: 6px;
  top: 6px;
  color: grey;
}

#upload-profile-pic #close-popup:hover {
  color: red !important;
}

#upload-profile-pic button {
  background-color: transparent !important;
  border: none;
}

#upload-profile-pic button i {
  font-size: 3rem;
}

#upload-profile-pic button i:hover {
  color: grey;
}
