

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<main>
    <h1>Home</h1>
    <div id="main-container">
        <!-- <div id="search-bar-container"> 
            <span class="material-symbols-outlined">search</span>
            <input type="text" id = 'search-bar' placeholder="Search..."> 
        </div> -->
        <div id="search">
            <div id="search-bar-container"> 
                <span class="material-symbols-outlined">search</span>
                <input type="text" id = 'search-bar' name='emp_name' placeholder="Search...">
                <select name="dept">
                    <option value="" selected>Department</option>
                </select>
                <select name="hostel">
                    <option value="" selected>Hostel</option>
                </select>
            </div>
            <!-- <div id="adv-search">
                
            </div> -->
        </div>

        <div id = 'search-container-wrapper'>
            <div id = 'search-result-container'></div>
        </div>
        
    </div>
</main>

<script src="/js/clg_info.js"></script>
<script src="/js/home.js"></script>
