

<link rel="stylesheet" href="/css/comment.css">


<main>
    <h1 id = 'heading'>Comments</h1>


    <div id="section-nav">
        <div id="section1"><i class="fa-solid fa-user"></i></div>    
        <div id="section2"><i class="fa-solid fa-pen-to-square"></i></div>
    </div>
    <div id="main-container">
    
     
        <%- include('partials/_profile_section') %>
         
         <%- include('partials/_comment_section') %>
    </div>
</main>

<script src="/js/comments_page/initialize_the_page.js"></script>
<script src="/js/comments_page/comment_section.js"></script>
