

<link rel="stylesheet" href="/css/sign_up.css">

<form action="/user/create" method="post">
    <input type="text" name="email" required>
    <br>
    <input type="password" name="password" required>
    <br>
    <input type="text" name="name" required>
    <br>
    <button>submit</button>
</form>