

<link rel="stylesheet" href="/css/sign_in.css">

<form action="/user/auth" method="post">
    <input type="text" name="email"  required>
    <br>
    <input type="password" name="password" required>
    <br>
    <button>submit</button>
</form>