

<div id ='main-container'>
    <form action="">
        <input type="text" name="user_name">
        <input type="text" name="hostel">
        <input type="text" name="dept">
        <input type="text" name="acc_year">
    </form>
</div>